@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');
@import "../../../paleta.css";

#productDescription {
    margin: 35px;
    margin-bottom: 0px;
    width: 650px;
    height: 850px;
    padding: 20px;
    background-color: var(--light-background);
    font-family: 'Ubuntu Mono', monospace;
    border-style: solid;
    border-color: var(--detail);
    border-radius: 10px;
    color: var(--text);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 10px black;
}

#productDescription h1 {
    color: var(--alert-text);
    font-weight: bold;
}

#productDescription img {
    max-height: 450px;
    width: auto;
    max-width: 600px;
    margin: 20px 0px;
}

#detail_description {
    color: var(--text);
    text-align: justify;
    font-size: 17px;
}

#detail_price {
    margin-top: 30px;
    color: var(--alert-text);
    font-weight: bold;
    font-size: 45px;
}

#finishPurchaseButton{
    color: var(--text);
    font-family: 'VT323', monospace;
    font-size: 20px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    background-color: rgba(0,0,0,0);
    border-style: solid;
    border-color: var(--text);
    border-width: 2px;
    border-radius: 10px;
}