@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import "../../../paleta.css";

#cartContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
}

#emptyCartText {
    font-family: 'VT323', monospace;
    font-size: 30px;
    font-weight: bold;
}

#emptyCartButton {
    cursor: pointer;
    font-family: 'VT323', monospace;
    padding: 5px;
    margin-top: 10px;
    color: var(--detail);
    border-style: solid;
    border-color: var(--detail);
    border-width: 2px;
    border-radius: 10px;
    background-color: var(--light-background);
    font-size: 25px;
}