:root {
    --detail:#5E7C03;
    --lighter-detail: #96b344;
    --lighter-background: #7a7d6d;
    --light-background: #454839;
    --dark-background: #181b0b;
    --text: #f9faf1;
    --alert-text: #edf5ce;
    --alert-background: #7C121B;
}